// img {
//     width: 100%;
//     border: 1px solid #ffcc33;
//     border-bottom: 0;
// }



figure:first-child {
    margin-top: 1rem;
}

figure:last-child {
    margin-bottom: 0;
}

img:last-child {
    margin-bottom: 0;
}

figure, figure:first-child {
    @media screen and (max-width:575px) {
        margin: 1px 2px;
    
        font-size: 14px;
        margin-top: 1px;
        figcaption {
            bottom: 0px;
            width: 100%;
        }
        img {
            border-bottom: 0;
        }
    }
}