img {
    width: 100%;
    border: 1px solid #212529;
}

.neg-30-margins {
    margin-left: -30px;
    margin-right: -30px;
}

.no-border {
    border: none;
}

.floating-caption {
    position: relative;
    bottom: 38px;
    background-color: snow;
    width: 98%;
    display: inline-block;
    opacity: 0.85;
}

figure {
    text-align: center;
}

figure:first-child {
    margin-top: 1rem;
}

figure:last-child {
    margin-bottom: 0;
}

img:last-child {
    margin-bottom: 0;
}