<div class="viewport">

    <div class="content-width-container">
        <div class="details-container rounded yellow-wallpaper">
            <blockquote class="blockquote">
                <p class="mb-0">"Katie is so talented. She hand makes each piece with love and care. I have some of her work in my house and I LOVE it.  I highly recommend her."</p>
                <br>
                <footer class="blockquote-footer">Dana Warren</footer>
            </blockquote>
        </div>
        <br>
        
        <div class="gold-border dark-border yellow-wallpaper">
            <slideshow #slideshow 
                [imageUrls]="imageUrlArray"
                [height]="'30rem'"
                [showArrows]="false"
                [autoPlay]="true"
                [autoPlayInterval]="'3500'"   
                [stopAutoPlayOnSlide]="true"    
                class="gold-border"          
            ></slideshow>
        </div>

        <div class="details-container yellow-wallpaper dark-border rounded">
            <h2>Interested in crafts from 'The Store'?</h2>
            <p>Let her know if you have any ideas you'd like to see come to life.</p>
            <a href="https://www.facebook.com/The-Store-462788197612474/"><button class="button btn btn-primary"> Message on Facebook</button></a>
        </div>
    </div>
</div>
