<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">The Store</a>
        <button class="navbar-toggler" type="button" (click)="toggleCollapse()" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [class.show]="show" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item" 
                *ngFor="let navLink of navLinks"
                   routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}" 
                >
                    <a class="nav-link" [routerLink]="navLink.link" (click)="show = false">{{navLink.name}}<span *ngIf="navLink.isActive" class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
  </nav>