<div class="viewport">
    <div class="content-width-container">
        <jumbo-container>
            <h1>In Loving Memory</h1>
            <p>Mary Lou and Wendell Beeler<p>
            <p>(Mamae and Grandad)</p>
            <p>Emily Beeler</p>
            <p>Molly Harlan</p>
        </jumbo-container>
    
        <div class="row neg-30-margins">
            <div class="container no-border">
                <div class="col-12">
                    <div class="img-container" *ngFor="let imageSrc of inMemoryImages">
                        <img class='rotate-90' [src]="imageSrc">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>