@import url(../../variables.less);

footer.main-footer {
    background-color: @dark-theme-color!important;
    color: @white;
    margin-bottom: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    font-family: "Open Sans SemiBold"
}