<!--The content below is only a placeholder and can be replaced.-->

<header>
  <app-navigation (changePage)="updatePage($event)"></app-navigation>
</header>
  <div class="container-fluid h-100" [ngClass]="{ 
    'home-background': (currentPage === '/#/home-page'),
    'woodwork-background': (currentPage === '/#/woodwork'),
    'about-background': (currentPage === '/#/about'),
    'in-memory-background': (currentPage === '/#/gmaiin-memory')
  }">


      <main [ngSwitch]="currentPage">
        <app-home-page *ngSwitchDefault></app-home-page>
        <app-woodwork *ngSwitchCase="'/#/woodwork-page'"></app-woodwork>
        <app-about-page *ngSwitchCase="'/#/about-page'"></app-about-page>
        <app-in-memory-page *ngSwitchCase="'/#/in-memory-page'"></app-in-memory-page>
      </main>
  </div>
<footer>
    <app-footer></app-footer>
</footer>


