.home-background {
    background-image: url(/assets/images/store_fall.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    opacity: 1;
}

.woodwork-background {
    background-image: url(/assets/images/tree-background.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    opacity: 0.85;
}