<div class="viewport vertical-align">
    <div class="content-width-container vertically-even-content">
        <div class="details-container">
            <blockquote class="blockquote">
                <p class="mb-0">"Katie is so talented. She hand makes each piece with love and care. I have some of her work in my house and I LOVE it.  I highly recommend her."</p>
                <footer class="blockquote-footer">Dana Warren</footer>
            </blockquote>
        </div>      
        <div class="my-slideshow-container" (click)="handleAutoPlay($event)" (window:resize)="onResize($event)">
            <div [ngClass]="autoPlay ? 'pause' : 'play' " class="pause-button"[ngStyle]="{'top': pauseTop}"></div>
            <slideshow #slideshow 
                [imageUrls]="imageUrlArray"
                [height]="slideshowHeight"
                [showArrows]="true"
                [autoPlay]="autoPlay"
                [autoPlayInterval]="3500"   
                [stopAutoPlayOnSlide]="true" 
            ></slideshow>
        </div>
        <div class="details-container">
            <h2>Interested in crafts from 'The Store'?</h2>
            <p>Let me know if you have any ideas you'd like to see come to life.</p>
            <a href="https://www.facebook.com/The-Store-462788197612474/"><button class="button btn btn-primary"> Message on Facebook</button></a>
        </div>
    </div>
</div>
