.quote-column {
    margin-top: auto;
    margin-bottom: auto;
    font-family: open ;
}

.my-slideshow-container {
    margin-top: 1rem;
    width: 100%;
    @media screen and (max-width:575px) {
        margin: 1px 2px;
    }
}

.button {
    margin-bottom: 20px;
}

