<div class="container main-container">
    <div class="row">
        <div class="col-12 col-md-6 ">
        <slideshow [imageUrls]="imageUrlArray"
                   [height]="'350px'" 
                   [showArrows]="true"
                   [autoPlay]="true"
                   [autoPlayInterval]="2500"
                   class=""
        ></slideshow>
        </div>
       <div class="col-12 col-md-6 quote-column">
        <div class="quote-container">
            <blockquote>
                <p>"Katie is so talented. She hand makes each piece with love and care. I have some of her work in my house and I LOVE it.  I highly recommend her."</p>
            </blockquote>
        </div>
       </div> 
    </div>
    <div class="row">
        <div class="col-12">
            <div class="call-to-action justify-content-center">
                    <h2>Interested in Katie's crafts at The Store?</h2>
                    <p>Let her know if you have any ideas you'd like to see come to life.</p>
                    <button class="button btn btn-primary"> Message on Facebook</button>
            </div>
        </div>   
    </div>
</div>
