@import './variables.less';

@font-face {
    font-family: "Open Sans Bold";
    src: url(assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Open Sans Bold Italic";
    src: url(assets/fonts/OpenSans-BoldItalic.ttf);
}

@font-face {
    font-family: "Open Sans ExtraBold";
    src: url(assets/fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: "Open Sans ExtraBold Italic";
    src: url(assets/fonts/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: "Open Sans Light";
    src: url(assets/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: "Open Sans Light Italic";
    src: url(assets/fonts/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: "Open Sans Regular";
    src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans Regular Italic";
    src: url(assets/fonts/OpenSans-RegularItalic.ttf);
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url(assets/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: "Open Sans SemiBold Italic";
    src: url(assets/fonts/OpenSans-SemiBoldItalic.ttf);
}

// For Extending other selectors
.auto-center {
    margin-left: auto;
    margin-right: auto;
}

.centered-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.full-sized-fixed {
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.no-bottom-border {
    border-bottom: none !important;
}

.no-top-border {
    border-top: none !important;
}

.rounded {
    border-radius: .25rem!important;
}

.scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.yellow-wallpaper {
    background-image: @yellowWallpaper;
    background-repeat: repeat;
}



// Used in multiple places

blockquote p {
    font-family: @semiboldItalic;
}

.content-width-container {
    max-width: @ContentMaxWidth;
    &:extend(.auto-center);
}

.details-container {
    color: @dark-theme-color;
    opacity: @theme-opacity;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
    border: @dark-border;
    &:extend(.yellow-wallpaper);
    font-family:@semibold;
    &:extend(.rounded);
    p {
        font-size: 1.1rem;
    }
    @media screen and (max-width:575px) {
        margin: 1px 0;
        font-size: 14px;
        padding: 0.2rem;
        p {
            margin: 0.5rem;
            line-height: 17px;
            font-size: 14px;
        }
    }
}

h1,h2,h3,h4,p {
    font-family: @semibold;
}

.rounded-top {
    border-top-left-radius: .25rem!important;
    border-top-right-radius: .25rem!important; 
}

.slideshow-container {
    &:extend(.rounded);
    border: @golden-border;
}

.viewport {
    margin-top: @navHeight;
    margin-bottom: @footerHeight;
    background-image: @homeBackground;
    &:extend(.centered-background);
    &:extend(.scroll-y);
    &:extend(.full-sized-fixed);
}

// Figures
figure img {
    border: @golden-border;
    &:extend(.rounded);
    &.captioned {
        &:extend(.no-bottom-border);
        &:extend(.rounded-top);
    }
    width: 100%;
}

figure figcaption {
    border: @dark-border;
    &:extend(.no-top-border);
    &:extend(.rounded-bottom);
    &:extend(.yellow-wallpaper);
    font-family: @semibold;
    margin-left: -1px;
    margin-right: 1px;
    text-align: center;
}

// Slideshow

.arrow-container:hover:before {
    opacity: 0.75 !important;
    color: @dark-theme-color;
    width: 50px;
}

.arrow-container {
    .next {
        right: 10px !important;
    }
    .prev {
        left: 10px !important;
    }
}

