/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Open Sans Bold";
    src: url(assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Open Sans Bold Italic";
    src: url(assets/fonts/OpenSans-BoldItalic.ttf);
}

@font-face {
    font-family: "Open Sans ExtraBold";
    src: url(assets/fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: "Open Sans ExtraBold Italic";
    src: url(assets/fonts/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: "Open Sans Light";
    src: url(assets/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: "Open Sans Light Italic";
    src: url(assets/fonts/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: "Open Sans Regular";
    src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans Regular Italic";
    src: url(assets/fonts/OpenSans-RegularItalic.ttf);
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url(assets/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: "Open Sans SemiBold Italic";
    src: url(assets/fonts/OpenSans-SemiBoldItalic.ttf);
}



body {
    background-color: lightgrey;
}
